.headerflex {
  display: flex;
  /* border: 2px solid black; */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #136dbd;
}
#logo {
  width: 40px;
  margin-right: 15px;
}

#todotextcolor {
  color: white;
  cursor: pointer;
}
.radiobtn {
  align-items: center;
  /* border: 2px solid black; */
}
.backgroundimg {
  height: 91.5vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../../resources/glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg");
}
