#formalignment {
  /* border: 2px solid black; */
  text-align: center;
  line-height: 2;
  width: 20%;
  padding: 10px;
  margin: auto;
  margin-top: 10%;
  background: #dee0e1;
  border-radius: 5px;
  /* border: 2px solid #136dbd; */
}
.backgroundimg {
  height: 91.5vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../../resources/glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg");
}
