.mainflex {
  display: flex;
  /* border: 2px solid black; */
  justify-content: space-between;
  min-height: 92vh;
}
#leftbox {
  /* border: 2px solid blue; */
  background-color: #136dbd;
  width: 15%;
  text-align: center;
  line-height: 2;
}
#rightbox {
  /* border: 2px solid red; */
  width: 90%;
  padding: 50px;
  background-color: #dee8f6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#form {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* border: 2px solid black; */
  align-items: center;
  text-align: center;
  width: 50%;
  line-height: 2.5;
  padding: 19px;
  margin-left: 10px;
  border-radius: 5px;
  /* background-color: rgb(120, 209, 181); */
  background-color: whitesmoke;
}
#gridshow {
  /* border: 2px solid green; */
  margin-top: 20px;
  padding: 10px;
}
#textarea {
  resize: none;
}
.choosebutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  margin-top: 30px;
}
.leftbuttons {
  padding: 2px 8px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: border 0.5s ease-in-out;
}
.leftbuttons:hover {
  border: 2px solid black;
}
.marginleft {
  margin-left: 10px;
}
.subbtn {
  margin: 10px;
  text-align: right;
}

#idsorter {
  margin-right: 10px;
}

@media screen and (max-width: 1224px) {
  #form {
    flex-direction: column;
    text-align: center;
  }
}
