@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.App {
  font-family: "Ubuntu", sans-serif;
}
.btn {
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: whitesmoke;
}

.textcenter {
  text-align: center;
}
.inpborder {
  padding: 2px;
  border-radius: 4px;
  margin: 5px;
}

.emptytask {
  margin-top: 40px;
  text-align: center;
}
